// google font
@import url(https://fonts.googleapis.com/css?family=Lato:400,100);

// admin styles
@import "../components/admin/admin.less";

// define globals
@aWhite: #F3F4F4;
@aBlue: #316080;
@aBrown: #4F4132;
@aOrange: #AB630E;
@aTan: #F4CC73;

// resets
body {
	font-family: 'Lato', sans-serif; // google font
	padding: 0;
	margin: 0;
}
a {
	text-decoration: none;
}

// common things
.close-x {
	color: @aWhite;
	cursor: pointer;
	font-size: 13px;
	font-weight: 100;
	height: 13px;
	position: absolute;
	top: 3px;
	right: 0;
	width: 13px;
	&:hover {
		color: @aTan;
	}
}