@headerHeight: 50px;
@panelPadding: 20px;
@panelWidth: 180px;
@contentPadding: 10px;

#admin {
	background-color: @aWhite;
	.header {
		background-color: @aBlue;
		float: left;
		height: @headerHeight;
		position: relative;
		width: 100%;
	}
	.site-name {
		color: @aTan;
		float: left;
		font-size: 18px;
		line-height: 50px;
		margin-left: 20px;
	}
	.user-name {
		color: @aWhite;
		float: right;
		font-size: 13px;
		font-weight: 100;
		margin: 10px 10px 0 0;
	}
	.sign-out {
		clear: right;
		color: @aWhite;
		cursor: pointer;
		float: right;
		font-size: 11px;
		margin-right: 10px;
	}
	.content {
		float: left;
		height: calc(~"100vh" - (@headerHeight + (@contentPadding * 2)));
		padding: @contentPadding;
		width: calc(~"100%" - (@panelWidth + @panelPadding * 2) + (@contentPadding * 2 ));
		.title {
			border-bottom: 1px solid @aBlue;
			clear: both;
			float: left;
			margin-bottom: 10px;
			padding-bottom: 5px;
			width: 100%;
		}
		.sub-title {
			border-bottom: 1px solid @aBlue;
			clear: both;
			float: left;
			font-size: 13px;
			font-style: italic;
			margin: 10px 0;
			padding-bottom: 5px;
			width: 100%;
		}
		.missing {
			font-size: 14px;
			font-style: italic;
		}
		.section {
			float: left;
			height: 150px;
			padding: 10px 0;
			width: 50%;
			&:nth-child(2n + 0) {
				padding-right: 2%;
				width: 48%;
			}
			textarea {
				border: 1px solid @aBlue;
				float: left;
				height: 55%;
				outline: none;
				padding: 2%;
				resize: none;
				width: 96%;
				&:focus {
					border: 1px solid @aTan;
				}
			}
			input {
				float: right;
				margin-top: 5px;
			}
		}
		label {
			clear: both;
			float: left;
			font-size: 10px;
			font-style: italic;
			margin-top: 10px;
			width: 100%;
		}
		select {
			appearance: none;
			background-color: #ffffff;
			border: none;
			border-bottom: 1px solid @aBrown;
			border-radius: 2px;
			clear: both;
			cursor: pointer;
			float: left;
			font-size: 13px;
			outline: none;
			padding: 1%;
			width: 100%;
			&:focus {
				border: 1px solid @aTan;
			}
		}
		input[type="submit"] {
			background-color: @aWhite;
			border: none;
			border-radius: 2px;
			cursor: pointer;
			float: right;
			margin-top: 5px;
			padding: 5px;
		}
		input[type="text"],
		input[type="password"] {
			border: none;
			border-bottom: 1px solid @aBlue;
			border-radius: 2px;
			float: left;
			font-size: 14px;
			outline: none;
			margin-top: 5px;
			padding: 0.5%;
			width: 99%;
			&:focus {
				border: 1px solid @aTan;
			}
		}
		.create-form {
			float: left;
			width: 50%;
			&:nth-child(2n + 0) {
				padding-right: 2%;
				width: 48%;
			}
			.form-title {
				color: @aBrown;
				float: left;
				font-size: 13px;
				margin-bottom: 10px;
				width: 100%;
			}
			.select-wrapper {
				float: left;
				margin-top: 5px;
				position: relative;
				width: 100%;
				&:before {
					border-left: 5px solid transparent;
					border-right: 5px solid transparent;
					border-top: 5px solid @aBrown;
					content: "";
					height: 0;
					position: absolute;
					right: 10px;
					top: 10px;
					width: 0;
				}
			}
			textarea {
				border: none;
				border-bottom: 1px solid @aBlue;
				border-radius: 2px;
				float: left;
				height: 150px;
				outline: none;
				margin-top: 5px;
				padding: 1%;
				resize: none;
				width: 98%;
				&:focus {
					border: 1px solid @aTan;
				}
			}
		}
		.delete {
			background-color: @aBlue;
			float: left;
			width: 32.2%;
			padding: 0.5%;
			position: relative;
			&:nth-child(2n + 0) {
				margin-right: 2%;
				width: 30.2%;
			}
			.name {
				color: @aTan;
				clear: both;
				float: left;
				font-size: 13px;
				width: 100%;
			}
			p {
				background-color: @aWhite;
				clear: both;
				float: left;
				height: 75px;
				font-size: 11px;
				margin: 5px 0 0 0;
				overflow: auto;
				padding: 0.5%;
				width: 99%;
			}
		}
	}
	.panel {
		background-color: @aBrown;
		float: left;
		height: calc(~"100vh" - @headerHeight);
		padding: 0 @panelPadding;
		width: @panelWidth;
		.title {
			color: @aWhite;
			clear: both;
			float: left;
			font-weight: 100;
			margin: 10px 0;
		}
		.page {
			color: @aWhite;
			clear: both;
			float: left;
			font-size: 11px;
			margin: 0 0 5px 10px;
			&:before {
				border-left: 1px dotted #ffffff;
				border-bottom: 1px dotted #ffffff;
				content: "";
				float: left;
				height: 10px;
				margin: -3px 5px 0 0;
				width: 10px;
			}
			&:hover {
				color: @aTan;
			}
			&.active {
				color: @aTan;
			}
		}
		.footer {
			bottom: 5px;
			color: @aWhite;
			left: 5px;
			font-size: 11px;
			font-style: italic;
			font-weight: 100;
			position: absolute;
		}
	}
	.admin-modal {
		background-color: @aWhite;
		height: 100px;
		left: 50%;
		margin-left: -125px;
		margin-top: -50px;
		padding: 1%;
		position: absolute;
		top: 50%;
		width: 250px;
		z-index: 1000;
	}
	.admin-backdrop {
		background-color: @aBrown;
		height: 100%;
		left: 0;
		opacity: 0.5;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 900;
	}
	.login {
		background-color: @aBlue;
		border-radius: 3px;
		height: 130px;
		margin: 60px auto 0;
		padding: 10px;
		width: 250px;
		label {
			color: @aTan;
		}
		input[type="submit"] {
			margin-top: 10px;
		}
	}
}